.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  
    &:hover {
      background: darkred;
    }
}
  
.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
}
  
.menu-card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px);
    background-color: #fff;
    transition: transform 0.2s;

    &:hover {
        transform: translateY(-5px);
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 15px;
        color: #333;
        border-bottom: 2px solid #e0e0e0;
        padding-bottom: 10px;
    }

    .subcollections-container {
        display: flex;
        flex-direction: column;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
        border-bottom: none;
        }
    }

    &:hover .delete-button {
        display: block;
    }

    .item-name {
        font-size: 1em;
        color: #555;
    }

    .item-price {
        font-size: 1em;
        color: #777;
        font-weight: bold;
    }
}
  
.add-category-form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align vertically */
    align-items: center; /* Align horizontally */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    box-sizing: border-box;
    width: fit-content;
}

.add-item-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
  
    label {
      margin-bottom: 5px;
      font-size: 1em;
      color: #555;
    }
  
    input {
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      background-color: #42b983;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #38a169;
      }
    }
}
  
.delete-item-button {
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
  
    &:hover {
      background: darkred;
    }
}
